<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
</head>
<body>

@RenderBody()

<script src="~/modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>